@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background: hsl(212, 45%, 89%);
  font-family: 'Outfit';
  margin: 0;
  padding: 120px 0;
  text-align: center;
}

.container {
  width: 270px;
  margin: auto;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.qr {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color:hsl(218, 44%, 22%);
  margin: 18px 15px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  margin: 12px 15px 20px 15px;

}

.attribution {
  padding-top: 15px;
  font-size: 11px; 
  text-align: center;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}